$bitIcon-c-sq: "\e600";
$bitIcon-c: "\e601";
$bitIcon-cpp-sq: "\e602";
$bitIcon-cpp: "\e603";
$bitIcon-cs-sq: "\e604";
$bitIcon-cs: "\e605";
$bitIcon-css-sq: "\e606";
$bitIcon-css: "\e607";
$bitIcon-css3-sq: "\e608";
$bitIcon-css3: "\e609";
$bitIcon-haskell-sq: "\e60a";
$bitIcon-haskell: "\e60b";
$bitIcon-html-sq: "\e60c";
$bitIcon-html: "\e60d";
$bitIcon-html5-sq: "\e60e";
$bitIcon-html5: "\e60f";
$bitIcon-java-alt-sq: "\e610";
$bitIcon-java-alt: "\e611";
$bitIcon-java-sq: "\e612";
$bitIcon-java: "\e613";
$bitIcon-js-sq: "\e614";
$bitIcon-js: "\e615";
$bitIcon-mysql-sq: "\e616";
$bitIcon-mysql: "\e617";
$bitIcon-node-sq: "\e618";
$bitIcon-node: "\e619";
$bitIcon-objc-sq: "\e61a";
$bitIcon-objc: "\e61b";
$bitIcon-perl-sq: "\e61c";
$bitIcon-perl: "\e61d";
$bitIcon-php-sq: "\e61e";
$bitIcon-php: "\e61f";
$bitIcon-python-sq: "\e620";
$bitIcon-python: "\e621";
$bitIcon-rails-sq: "\e622";
$bitIcon-rails: "\e623";
$bitIcon-ruby-sq: "\e624";
$bitIcon-ruby: "\e625";
$bitIcon-scala-sq: "\e626";
$bitIcon-scala: "\e627";
$bitIcon-swift-sq: "\e628";
$bitIcon-swift: "\e629";
$bitIcon-less-sq: "\e630";
$bitIcon-less: "\e631";
$bitIcon-sass-seal-sq: "\e632";
$bitIcon-sass-seal: "\e633";
$bitIcon-sass-sq: "\e634";
$bitIcon-sass: "\e635";
$bitIcon-script-sq: "\e636";
$bitIcon-script: "\e637";
$bitIcon-shell-sq: "\e638";
$bitIcon-shell: "\e639";
